body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

#add-perfume-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#add-perfume-form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

#perfume-list {
    list-style: none;
    padding: 0;
}

#perfume-list li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#perfume-list li strong {
    font-weight: bold;
    margin-right: 5px;
}

.perfume-details {
    margin-top: 5px;
    color: #777;
    font-size: 0.9em;
}

input[type="text"],
input[type="number"],
input[type="password"], /* Dodano styl dla pola hasła */
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}
